venv
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/djangoTaskApp.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea.vcs.xml
db.sqlite3
data
/.idea/emoemo.iml
/application/.env
/.idea/vcs.xml
.env.dev
docker-compose.override.yml
/.env.prod
/.env.prod.db
/app/static/
/app/media/
