venv
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/djangoTaskApp.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea.vcs.xml
db.sqlite3
data
/.idea/emoemo.iml
