{% load static %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="ja">
    <head>
        <title>emoemo</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {% tailwind_css %}
        <link rel="stylesheet" href="{% static 'css/font.css' %}">
    </head>
    <body class="h-screen">
        <div class="text-gray-600 body-font shadow-md">
            <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center max-w-4xl">
                <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0 ml-3 text-xl"
                   href="{% url 'index' %}">emoemo</a>
            </div>
        </div>
        <div class="container mx-auto flex flex-wrap p-5 flex-col items-center max-w-3xl">
            <section class="text-gray-600 body-font mx-auto w-full">
                <div class="container px-5 py-24 mx-auto">
                    <h1 class="sm:text-3xl text-2xl font-medium title-font text-center text-gray-900 mb-20">make emoji🚀</h1>
                    <form method="get">
                        <div class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4 md:space-y-0 space-y-6">
                            <div class="p-4 md:w-1/3 flex">
                                <div class="flex-grow whitespace-nowrap">
                                    <h2 class="text-gray-900 text-lg title-font font-medium mb-2 w-full text-center">select font</h2>
                                    <ul class="w-48 text-sm font-medium border rounded-lg">
                                        <li class="w-full border-b rounded-t-lg">
                                            <div class="flex items-center">
                                                <label for="list-radio-license"
                                                       class="w-full py-3 ms-2 text-sm font-medium rounded-mplus-1c-black">
                                                    <input id="list-radio-license"
                                                           type="radio"
                                                           value="rounded-mplus-1c-black"
                                                           name="font-name"
                                                           class="w-4 h-4"
                                                           checked>
                                                    rounded-mplus black
                                                </label>
                                            </div>
                                            <div class="flex items-center">
                                                <label for="rounded-mplus-medium"
                                                       class="w-full py-3 ms-2 text-sm font-medium rounded-mplus-1c-medium">
                                                    <input id="rounded-mplus-medium"
                                                           type="radio"
                                                           value="rounded-mplus-1c-medium"
                                                           name="font-name"
                                                           class="w-4 h-4">
                                                    rounded-mplus medium
                                                </label>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="pt-2">
                                        <div class="flex items-center">
                                            <label for="font-color">font:</label>
                                            <input type="color"
                                                   id="font-color"
                                                   name="font-color"
                                                   {% if font_color %}value="{{ font_color }}"{% endif %}>
                                        </div>
                                        <div class="flex items-center">
                                            <label for="background-color">background:</label>
                                            <input type="color"
                                                   id="background-color"
                                                   name="background-color"
                                                   {% if background_color %}value="{{ background_color }}"{% else %}value="#ffffff"{% endif %}>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="p-4 md:w-1/3 flex">
                                {% comment %}FIXME: pl-8 のように直接指定するのではなく、余白含めたレイアウトを整えるようにしたい{% endcomment %}
                                <div class="flex-grow pl-8 w-32">
                                    <h2 class="text-gray-900 text-lg title-font font-medium mb-2 w-32 text-center">input text</h2>
                                    <label for="input-text"></label>
                                    <textarea id="input-text"
                                              class="w-32 rounded border border-gray-400 focus:outline-none focus:border-indigo-500 text-base px-4 py-2 h-32 mb-4 block text-center"
                                              rows="4"
                                              cols="2"
                                              name="font-text">{% if font_text %}{{ font_text }}{% endif %}</textarea>
                                    <div class="w-32">
                                        <button type="submit"
                                                id="create-button"
                                                class="w-full text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                                            create
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="p-4 md:w-1/3 flex">
                                <div class="flex-grow pl-6">
                                    <h2 class="text-gray-900 text-lg title-font font-medium mb-2 w-32 text-center">output emoji</h2>
                                    {% if font_text %}
                                        <img src="{{ emoji_img }}"
                                             alt="emoji"
                                             class="w-32 h-32 mb-4 border-2">
                                        <div class="w-32">
                                            <a href="{{ emoji_img }}"
                                               download="{{ emoji_img }}"
                                               class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline inline-block text-center box-border">
                                                Download
                                            </a>
                                        </div>
                                    {% else %}
                                        <div class="w-32 h-32 mb-4 border-2">
                                            <div class="flex justify-center items-center text-center h-full text-gray-400">emoji image show up here!</div>
                                        </div>
                                        <button class="bg-gray-400 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-32"
                                                disabled>create first!</button>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </body>
</html>
<script>
    
    const toggleDisabled = () => {
        const createButton = document.getElementById('create-button');
        if (document.getElementById('input-text').value === '') {
            createButton.disabled = true;
            createButton.classList.add('bg-gray-400');
            createButton.classList.remove('bg-blue-500');
            createButton.classList.remove('hover:bg-blue-700');
        } else {
            createButton.disabled = false;
            createButton.classList.remove('bg-gray-400');
            createButton.classList.add('bg-blue-500');
            createButton.classList.add('hover:bg-blue-700');
        }
    };
    
    toggleDisabled();
    document.getElementById('input-text').addEventListener('input', () => {
        toggleDisabled();
    });
    
    const fontName = '{{ font_name }}';
    if (fontName === 'None') {
        const fontNameRadio = document.querySelector(`input[value="rounded-mplus-1c-black"]`);
        fontNameRadio.checked = true;
    }
    else {
        const fontNameRadio = document.querySelector(`input[value="${fontName}"]`);
        fontNameRadio.checked = true;
    }

</script>
