{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>emoemo</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% tailwind_css %}
  </head>

  <body class="h-screen">
    <div class="text-gray-600 body-font shadow-md">
      <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center max-w-4xl">
        <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
          <span class="ml-3 text-xl">emoemo</span>
        </a>
      </div>
    </div>
    <div class="container mx-auto">
      <section class="flex items-center justify-center h-screen">
        <h1 class="text-5xl">emoemo 🚀🚀🚀️</h1>
      </section>
    </div>
  </body>
</html>
